{% extends 'base.html' %}

{% block title %}Galeria{% endblock %}

{% block content %}

<div class="container">

    <h1 class="text-center mt-5 mb-5">GALERIA DE IMAGENES</h1>
    
    <div class="tz-gallery">
        <div class="row mb-4">
            <div class="col-md-6">
                <h1 style="color:white; text-align:center; padding-bottom:50px;">Oriental</h1>
            </div>
            <div class="col-md-6">
                <h1 style="color:white; text-align:center">Occidental</h1>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture1.jpg">
                        <img src="/static/img/gallery/picture1.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture2.jpg">
                        <img src="/static/img/gallery/picture2.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture3.jpg">
                        <img src="/static/img/gallery/picture3.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture4.jpg">
                        <img src="/static/img/gallery/picture4.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">

            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture6.jpg">
                        <img src="/static/img/gallery/picture6.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture7.jpg">
                        <img src="/static/img/gallery/picture7.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture5.jpg">
                        <img src="/static/img/gallery/picture5.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <a class="lightbox" href="/static/img/gallery/picture20.jpg">
                            <img src="/static/img/gallery/picture20.jpg" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
        </div>

        <div class="row mb-4">
                <div class="col-md-3">
                        <div class="card">
                            <a class="lightbox" href="/static/img/gallery/picture8.jpg">
                                <img src="/static/img/gallery/picture8.jpg" alt="Park" class="card-img-top">
                            </a>
                        </div>
                    </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture9.jpg">
                        <img src="/static/img/gallery/picture9.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <a class="lightbox" href="/static/img/gallery/picture32.jpg">
                            <img src="/static/img/gallery/picture32.jpg" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
            
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture10.jpg">
                        <img src="/static/img/gallery/picture10.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture11.jpg">
                        <img src="/static/img/gallery/picture11.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture12.jpg">
                        <img src="/static/img/gallery/picture12.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture13.jpg">
                        <img src="/static/img/gallery/picture13.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture14.jpg">
                        <img src="/static/img/gallery/picture14.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture15.jpg">
                        <img src="/static/img/gallery/picture15.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
    
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture17.jpg">
                        <img src="/static/img/gallery/picture17.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture18.jpg">
                        <img src="/static/img/gallery/picture18.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture19.jpg">
                        <img src="/static/img/gallery/picture19.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <a class="lightbox" href="/static/img/gallery/picture21.jpg">
                            <img src="/static/img/gallery/picture21.jpg" alt="Park" class="card-img-top">
                        </a>
                    </div>
                </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture22.jpg">
                        <img src="/static/img/gallery/picture22.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture23.jpg">
                        <img src="/static/img/gallery/picture23.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture24.jpg">
                        <img src="/static/img/gallery/picture24.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture25.jpg">
                        <img src="/static/img/gallery/picture25.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture26.jpg">
                        <img src="/static/img/gallery/picture26.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture27.jpg">
                        <img src="/static/img/gallery/picture27.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture28.jpg">
                        <img src="/static/img/gallery/picture28.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture29.jpg">
                        <img src="/static/img/gallery/picture29.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture30.jpg">
                        <img src="/static/img/gallery/picture30.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a class="lightbox" href="/static/img/gallery/picture31.jpg">
                        <img src="/static/img/gallery/picture31.jpg" alt="Park" class="card-img-top">
                    </a>
                </div>
            </div>
            
        </div>
        
    </div>

    </div>

{% endblock %}