{% extends 'base.html' %}

{% block content %}

<div class="container">


    <div class="logo">
        <div class="row align-items-center h-100 w-100">

            <img class="img-fluid rounded mx-auto d-block" alt="Responsive image" src="{{url_for('static', filename='img/Logo Congreso Silvopastoril -  MRA 2.png')}}">

        </div>
    </div>


    <section id="presentacion" class="px-md-4 px-xl-5">
        <h3 class="titulo_seccion px-md-5">PRESENTACIÓN</h3>
        <div class="text-justify text-light px-md-5">
            <p>A través del mundo, en un período u otro de la historia, la agroforestería ha sido la práctica común de
                utilizar árboles con cultivos agrícolas en una íntima combinación (King, 1987). El 46% de la superficie
                agrícola mundial tiene una cobertura arbórea superior al 10% y se concentran en las regiones tropicales
                y subtropicales. El 17% (una sexta parte) de la superficie agrícola mundial dispone de una cobertura
                arbórea superior al 30%. Los sistemas Silvopastoriles representan una modalidad de uso de la tierra
                donde coexisten interacciones ecológicas y/o económicas, tanto positivas como negativas entre los
                componentes arbóreos, forrajeros y ganaderos, bajo un manejo sustentable.</p>
            <p>Los sistemas silvopastoriles requieren de una administración de sus componentes de manera que perduren en
                el tiempo los árboles, arbustos, especies forrajeras, suelo, así como su aprovechamiento por parte de
                los animales. La importancia de los árboles y arbustos forrajeros es que además de producir bienes
                materiales tangibles (madera, forraje, …) también, a través del mantenimiento de una cobertura vegetal
                continua, contribuyen con el bienestar animal, traer beneficios verificables en la producción animal, el
                mantenimiento de la fertilidad y de la biodiversidad y la sostenibilidad en el tiempo. Estos sistemas
                son también una opción para revertir los procesos de degradación de los pastizales, al aumentar la
                protección física del suelo y contribuir a la recuperación de la fertilidad a través de la inclusión de
                especies leguminosas que fijan el nitrógeno al suelo y de árboles de raíces pivotantes que reciclan
                nutrientes gracias a la profundidad que alcanzan.</p>
            <p>Con el fin de compartir estos conocimientos y reunir a actores de diferentes partes de América Latina, en
                1999 se llevó a cabo el Primer Congreso de Agroforestería Pecuaria en Cali (Colombia). El evento fue
                convocado por la Fundación CIPAV y la FAO, y de él ha surgido y seguido evolucionando una red de
                expertos en el tema. Posteriormente, se unió a esta iniciativa el CATIE, así como universidades y
                centros de investigación de varios países de la región. El proceso desde entonces ha sido continuo y
                exitoso; recorriendo varios países de América Latina: El segundo congreso en San José (Costa Rica) en el
                año 2001; el tercero en Mérida (México) en 2004; el cuarto en Varadero (Cuba) en 2006; el quinto en
                Maracay (Venezuela) en 2008; el sexto en Ciudad de Panamá (Panamá) en 2010; el séptimo en Belén de Para
                (Brasil) en 2012, el octavo en Iguazú (Argentina) en 2015 y en su novena edición, el Congreso
                Internacional Silvopastoril en Manizales (Colombia) en 2017.</p>
    </section>

    <section id="evento" class="px-md-4 px-xl-5">
        <h3 class="titulo_seccion px-md-5">EL EVENTO</h3>
        <div class="text-justify text-light px-md-5">
            <p>El Congreso Internacional de Sistemas Silvopastoriles es el principal encuentro de Silvopasturas a nivel
                mundial. Debido a la relevancia del tema, el evento reúne formadores de opinión. Promueve el intercambio
                técnico y científico entre profesionales e instituciones que actúan en el área forestal.</p>
            <p>El número de participantes va aumentando en cada edición, y los organizadores encuentran en este evento
                una gran oportunidad de unir a un público altamente especializado.</p>
            <p>En 2019, el Instituto Forestal Nacional (INFONA) lidera la organización de la edición X del Congreso
                Internacional de Sistemas Silvopastoriles a realizarse en Mariano Roque Alonso - Paraguay, del 24 al 26
                de setiembre.</p>
            <p>En esta oportunidad, Paraguay será sede del X Congreso Internacional de Sistemas Silvopastoriles. Será la
                segunda vez que se alcanzan nuestras latitudes y en ocasión de cumplir los 20 años de continuos avances
                y tangibles resultados para los que los practican y la sociedad en su conjunto.</p>
        </div>
    </section>

    <section id="seccion" class="px-md-4 px-xl-5">
        <h3 class="titulo_seccion px-md-5">SESIONES PRINCIPALES</h3>
        <div class="text-justify text-light px-md-5">
            <h3>SESION 1:</h3>
            <h2>GANADERIA SOSTENIBLE, BIODIVERSIDAD, AMBIENTE Y CAMBIO CLIMATICO</h2>
            <p>Se presentarán resultados de investigaciones y proyectos donde se resalten las contribuciones positivas
                de la producción pecuaria sostenible con bienestar animal (todas las especies domésticas de producción)
                a la conservación de la naturaleza, los servicios ecosistémicos de escalas global, regional o nacional,
                así como la restauración ecológica.</p>
            <h3>SESION 2:</h3>
            <h2>PRODUCCION SIMULTÁNEA DE BIENES PECUARIOS Y FORESTALES</h2>
            <p>Esta sección presentará una visión amplia de los diferentes bienes derivados de la integración entre
                ganadería y bosques tales como carne, leche, lana, pieles, madera, leña, carbón vegetal, frutos, fibras
                y productos no maderables del bosque. Se destacarán progresos en la calidad que diferencie estos
                productos en los mercados internacionales, nacionales y locales.</p>
            <p>Además de las presentaciones magistrales, se tendrán tres simposios sobre temas específicos de interés y
                con desarrollos importantes en la investigación actual.</p>
            <h3>SESION 3:</h3>
            <h2>SOCIOECONOMIA EN SISTEMAS SILVOPASTORILES</h2>
            <p>Se seleccionarán presentaciones que sustenten en forma integrada los beneficios, costos y balances
                financieros, económicos sociales y ambientales de proyectos silvopastoriles de iniciativa privada,
                pública, mixta o de cooperación internacional que impacten positivamente en la generación de bienestar,
                riqueza con equidad. </p>
            <h3>SESION 4:</h3>
            <h2>ESCENARIOS PRODUCTIVOS EN SISTEMAS SILVOPASTORILES (testimonios de productores)</h2>
            <p>Esta sección mostrará trabajos e iniciativas de educación superior, educación formal e informal para
                productores y técnicos en sistemas silvopastoriles, así como proyectos de escala y redes de intercambio
                silvopastoril.</p>
            <p>Tendrá un panel especial con presentación de productores de todas las escalas con procesos de ganadería
                sustentable silvopastoril en diferentes regiones de Paraguay.</p>
        </div>
    </section>

    <section id="comite" class="px-md-4 px-xl-5">
        <h3 class="titulo_seccion px-md-5">COMITÉ CIENTIFICO</h3>

        <table style="font-size: 12px;" bgcolor="#182e08" class="table">
            <thead>
                <tr>
                    <th style="font-size: 20px;">Investigador</th>
                    <th style="font-size: 20px;">Institución u organización</th>
                    <th style="font-size: 20px;">Ciudad</th>
                    <th style="font-size: 20px;">País</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Jorge Esquivel</th>
                    <th>CREA "Tierra Colorada" - AACREA</th>
                    <th>Posadas, Misiones</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Belén Rossner</th>
                    <th>Instituto Nacional de Tecnología Agropecuaria, INTA</th>
                    <th>Cerro Azul, Misiones</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Hugo Fassola</th>
                    <th>Instituto Nacional de Tecnología Agropecuaria, INTA</th>
                    <th>Montecarlo, Misiones</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Luis Colcombet</th>
                    <th>Instituto Nacional de Tecnología Agropecuaria, INTA</th>
                    <th>Montecarlo, Misiones</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Pablo Luis Peri</th>
                    <th>Instituto Nacional de Tecnología Agropecuaria, INTA</th>
                    <th>Río Gallegos, Santa Cruz</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Santiago Lacorte</th>
                    <th>UNaM / F. C. Forestales, Carrera de Agronomía</th>
                    <th>Posadas, Misiones</th>
                    <th>Argentina</th>
                </tr>
                <tr>
                    <th>Aníbal Nahuel Pachas</th>
                    <th>Universidad de Queensland</th>
                    <th>Brisbane, Queensland</th>
                    <th>Australia</th>
                </tr>
                <tr>
                    <th>Fabiana Villa Alvess</th>
                    <th>EMBRAPA Ganado de Carne</th>
                    <th>Campo Grande do Sul, Mato Groso</th>
                    <th>Brasil</th>
                </tr>
                <tr>
                    <th>Rogerio Martins Mauricio</th>
                    <th>Universidade Federal de São João do Rei.</th>
                    <th>São João do Rei. Minas Gerais</th>
                    <th>Brasil</th>
                </tr>
                <tr>
                    <th>Antonio Solarte</th>
                    <th>Fundación CIPAV</th>
                    <th>Cali</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Carolina Giraldo</th>
                    <th>Fundación CIPAV</th>
                    <th>Medellín</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Enrique Murgueitio</th>
                    <th>Fundación CIPAV</th>
                    <th>Cali</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Fernando Uribe</th>
                    <th>Fundación CIPAV</th>
                    <th>Manizales</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>John Jairo Lopera</th>
                    <th>Fundación CIPAV</th>
                    <th>Medellín</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Julián Chará</th>
                    <th>Fundación CIPAV</th>
                    <th>Cali</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Zoraida Calle </th>
                    <th>Fundación CIPAV</th>
                    <th>Cali</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Liliana Mahecha </th>
                    <th>Universidad de Antioquía</th>
                    <th>Medellín</th>
                    <th>Colombia</th>
                </tr>
                <tr>
                    <th>Eduardo Somarriba </th>
                    <th>Centro Agronómico de Investigación y Enseñanza -CATIE</th>
                    <th>Turrialba</th>
                    <th>Costa Rica</th>
                </tr>
                <tr>
                    <th>Giraldo Martin</th>
                    <th>Estación de Pastos y Forrajes Indio Hatuey</th>
                    <th>Matanzas</th>
                    <th>Cuba</th>
                </tr>
                <tr>
                    <th>Tomás Ruiz</th>
                    <th>Instituto de Ciencia Animal - ICA</th>
                    <th>La Habana</th>
                    <th>Cuba</th>
                </tr>
                <tr>
                    <th>Ernesto Reyes </th>
                    <th>Agribenchmark</th>
                    <th></th>
                    <th>España/Alemania</th>
                </tr>
                <tr>
                    <th>Martha Xóchitl Flores</th>
                    <th>Fundación PRODUCE Michoacán</th>
                    <th>Morelia</th>
                    <th>México</th>
                </tr>
                <tr>
                    <th>Rocío Santos Gally</th>
                    <th>Instituto de Ecología UNAM</th>
                    <th>Ciudad de México</th>
                    <th>México</th>
                </tr>
                <tr>
                    <th>Manuel Sánchez Hermosillo</th>
                    <th>Consultor Ganadería Sostenible</th>
                    <th>Jalisco</th>
                    <th>México</th>
                </tr>
                <tr>
                    <th>Rosalía Goerzen</th>
                    <th>Federación de Cooperativas de producción Ltda. FECOPROD</th>
                    <th>Filadelfia</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Norbert Weichselberger</th>
                    <th>Cooperativa de producción, consumo y servicios Volendam Ltda.</th>
                    <th>Villa del Rosario - San Pedro</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Marta Álvarez</th>
                    <th>Instituto Forestal Nacional (INFONA)</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Julio Britos</th>
                    <th>Instituto Forestal Nacional (INFONA)</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Mariza Toffoletti</th>
                    <th>Instituto Forestal Nacional (INFONA)</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Wilson Jara</th>
                    <th>Instituto Forestal Nacional (INFONA)</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Maura Díaz</th>
                    <th>Universidad Nacional de Asunción, Facultad de Ciencias Agrarias, Carrera de Ingeniería Forestal.
                    </th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Cynthia Gamarra</th>
                    <th>Universidad Nacional de Asunción(UNA).</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Daniel Caballero</th>
                    <th>Universidad Nacional de Asunción. Facultad de Ciencias Agrarias.</th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Luis Alfonso Griffitt</th>
                    <th>Universidad Nacional de Asunción. Facultad de Ciencias Agrarias. </th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Laura Quevedo</th>
                    <th>Universidad Nacional de Asunción. Facultad de Ciencias Agrarias. Carrera de Ingeniería Forestal.
                    </th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Andrea Weiler</th>
                    <th>Universidad Nacional de Asunción. Facultad de Ciencias Exactas y Naturales. </th>
                    <th>San Lorenzo, Asunción.</th>
                    <th>Paraguay</th>
                </tr>
                <tr>
                    <th>Stella Maris Huertas</th>
                    <th>Universidad de la República</th>
                    <th>Montevideo</th>
                    <th>Uruguay</th>
                </tr>
                <tr>
                    <th>Florencia Montagnini</th>
                    <th>Universidad de Yale. School of Forestry and Environmental Studies.</th>
                    <th>New Haven, Connecticut</th>
                    <th>Estados Unidos</th>
                </tr>
                <tr>
                    <th>Adolfo Cardozo</th>
                    <th>CENDIGRANJA - Universiad de los Llanos Occidentales UNELLEZ</th>
                    <th>Guanare, Portuguesa</th>
                    <th>Venezuela</th>
                </tr>
            </tbody>
        </table>

    </section>

    <section id="sede" class="px-md-4 px-xl-5">
        <h3 class="titulo_seccion px-md-5">SEDE DEL EVENTO</h3>
        <div class="text-justify text-light px-md-5">
            <p>El evento se llevará a cabo en la Ciudad de Mariano Roque Alonso, distante a 18 km. de Asunción, capital
                de la república del Paraguay.</p>
            <p>La ciudad de Mariano Roque Alonso cuenta con 103.759 habitantes en total, de los cuales 51.569 son
                varones y son 52.190 mujeres.</p>
            <p>Posee un clima tropical, en la mayoría de los meses del año en Mariano Roque Alonso hay precipitaciones
                importantes. La temperatura media anual se encuentra a 23.2°C. Hay alrededor de precipitaciones de 1375
                mm.</p>
            <p>El X Congreso Internacional en Sistemas Silvopastoriles se llevará a cabo en la sede central de la
                Asociación Rural del Paraguay (ARP), ubicada en el municipio de Mariano Roque Alonso sobre un predio de
                28 hectáreas (70 acres).</p>
            <p>La ARP es una entidad privada sin fines de lucro, que reúne a productores agropecuarios de todo el país.
                Fue fundada en 1885 con la denominación de Sociedad Ganadera del Paraguay. En 1938 toma el nombre que
                lleva actualmente.</p>
            <p>La ARP es la única entidad gremial que ha representado y defendido los intereses del Paraguay y su
                ganadería desde hace 133 años. La “Rural”, como normalmente es conocida la ARP, busca hacer de la
                producción pecuaria un instrumento de desarrollo del Paraguay, con responsabilidad social y en armonía
                con el medio ambiente.</p>
        </div>
        <div id="direccion">
            <h3>ASOCIACION RURAL DEL PARAGUAY</h3><br>
            <h3>Salon Social Dr. Germán Ruíz Aveiro</h3><br>
            <h3>Ruta Troperos del Chaco Km. 14,5</h3>
            <h3>Mariano Roque Alonso - Paraguay</h3>
        </div>

        <img src="{{url_for('static', filename='img/arp_mra.jpg')}}" id="img">

        <div class="map-responsive">

            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.969975296373!2d-57.53575935176504!3d-25.229922082171047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945da43461fc60f5%3A0xeb8c778285fe20d3!2sAsociaci%C3%B3n+Rural+del+Paraguay!5e0!3m2!1ses!2spy!4v1552088193264"
                width="800" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

    </section>

    <section id="logos">

        <div class="conter">
            <a href="https://visitparaguay.travel/" target="_blank">
                <img class="img-fluid image" src="{{url_for('static', filename='img/senatur.png')}}"
                    style="width: 25%; border-style:solid;border-color: #97bf72; padding: 1% 4% 1% 4%;">
                <div class="overlay">
                    <div class="text"><ul style="font-size: 16px;

                        margin: 5px;
                        
                            margin-left: 5px;
                        
                        margin-left: -80px;
                        
                        text-align: initial;
                        
                        color: #113c09;">
                        <li>Alojamiento<br></li>
                        <li>Transporte<br></li>
                        <li>Gastronomia<br></li>
                        <li>Turismo de naturaleza<br></li>
                    </ul></div>
                </div>
            </a>
        </div>
        
        <div class="conter">
            <a href="https://www.registur.gov.py/registur/" target="_blank">
                <img class="img-fluid image" src="{{url_for('static', filename='img/registur.png')}}"
                    style="width: 25%; border-style:solid;border-color: #97bf72; padding: 1% 4% 1% 4%;">
                <div class="overlay">
                    <div class="text"><p style="color: #113c09;">Descubre el Paraguay<br>INGRESA AQUI</p></div>
                </div>
            </a>
        </div>

        <div class="auspices">
            <div class="ot">
                <h1>Auspician</h1>
            </div>
            <img src="{{url_for('static', filename='img/auspices/FECOPROD II.png')}}" alt="">
            <img src="{{url_for('static', filename='img/auspices/Pomera_logo-01.png')}}" style="width: 20%;" alt="">
            <img src="{{url_for('static', filename='img/auspices/Volendam blanco-01.png')}}" alt="">
            <img src="{{url_for('static', filename='img/auspices/WWF III.png')}}" style="width: 13%;" alt="">
            <img src="{{url_for('static', filename='img/auspices/Genefor Logo Final blanco.png')}}"
                style="width: 30%;" alt="">
            <img src="{{url_for('static', filename='img/auspices/logo nelore-01.png')}}" style="width: 18%;" alt="">

        </div><br>
        <div class="organize">
            <div class="ot">
                <h1>Organizan</h1>
            </div>
            <img src="{{url_for('static', filename='img/organize/Logo INFONA 2018 Blanco.png')}}"
                style="width: 20%;" alt="">
            <img src="{{url_for('static', filename='img/organize/ARP.png')}}" style="width: 17%;" alt="">
            <img src="{{url_for('static', filename='img/organize/facultad de ciencias agrarias una.png')}}"
                style="width: 35%;" alt="">
            <img src="{{url_for('static', filename='img/organize/FECOPROD II.png')}}" alt="">
            <img src="{{url_for('static', filename='img/organize/INTA_2-01.png')}}" style="width: 20%;" alt="">
            <img src="{{url_for('static', filename='img/organize/Logo CIPAV.png')}}" alt="">
            <img src="{{url_for('static', filename='img/organize/logo forestal sylvis-01.png')}}"
                style="width: 20%;" alt="">

            <img src="{{url_for('static', filename='img/organize/MAG 2-01.png')}}" style="width: 20%;" alt="">
            <img src="{{url_for('static', filename='img/organize/WWF III.png')}}" style="width: 13%;" alt="">
        </div>

    </section>




</div>

{% endblock %}